@model IEnumerable<ViewModels.ShowCartViewModel>
@using DataLayer;
<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h2 class="fw-bold mb-0 text-black">سبد خرید</h2>
                                    </div>
                                    <hr class="my-4">

                                    @foreach (var item in Model)
                                    {
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="~/Images/ProductImages/Thumb/@item.ImageName"
                                                     class="img-fluid rounded-3" alt="@item.Title">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted">@item.Title</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <input id="form1" min="1" value="@item.Count" type="number"
                                                       class="form-control form-control-sm" onchange="CommandCart(@item.ProductID, $(this).val())" />
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">@item.Price.ToString("#,0")</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a onclick="CommandCart(@item.ProductID,0)" class="btn-close" aria-label="Close"></a>
                                            </div>
                                            <hr class="my-4">
                                        </div>
                                    }

                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a href="/" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>برگشت
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">توضیحات</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">@Model.Sum(p => p.Count) محصول</h5>
                                        <h5>@Model.Sum(p => p.Sum).ToString("#,0")</h5>
                                    </div>

                                    @*<h5 class="text-uppercase mb-3">کد تخفیف</h5>

                                        <div class="mb-5">
                                            <div class="form-outline">
                                                <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplea2">کد تخفیف خود را وارد کنید</label>
                                            </div>
                                        </div>*@
                                    <form method="post" action="ShopCart\">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            List<DataLayer.User_Address> addresses = ViewBag.Address;
                                            if (addresses.Count() > 0)
                                            {
                                                <h5 class="text-uppercase mb-3">آدرس:</h5>
                                                <select id="address" name="address" class="required">
                                                    @foreach (var item in addresses)
                                                    {
                                                        <option name="address" value="0">انتخاب آدرس</option>
                                                        <option name="address" value="@item.AddressID">@item.FullAddress</option>
                                                    }
                                                </select>
                                                if (ViewBag.AddressValidate == true)
                                                {
                                                    <p class="text text-danger">آدرس خود را انتخاب کنید!</p>
                                                }
                                            }
                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase">مبلغ قابل پرداخت</h5>
                                                <h5>@Model.Sum(p => p.Sum).ToString("#,0") تومان</h5>
                                            </div>
                                            <input type="submit" class="btn btn-dark btn-block btn-lg" value="پرداخت" />
                                        }
                                        @*<a href="/ShopCart/ConfirmBuy/@ViewBag.id" class="btn btn-dark btn-block btn-lg">پرداخت</a>*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    function()
</script>