@model IEnumerable<DataLayer.ContactUsInfo>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">افزودن</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="info_"@item.CI_ID>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            <a class="btn btn-info btn-sm" href="@Url.Action("EditContactUsInfo", new { id = item.CI_ID })">
                <i class="fa fa-fw fa-edit"></i>
            </a>
            <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteInfo", new {id = @item.CI_ID})">
                <i class="fa fa-fw fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>

