@model DataLayer.ContactUsInfo

@{
    ViewBag.Title = "حذف ارتباط با ما";
}

<h3>آیا از حذف @Model.Title مطمئن هستید؟</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-warning" /> |
            <a class="btn btn-danger" href="@Url.Action("Index")">
                بازگشت
            </a>

        </div>
    }
</div>
