@model ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "بازیابی کلمه عبور";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (ViewBag.Success == true)
    {
        <div class="alert alert-success mt-2">
            کلمه عبور شما با موفقیت تغییر یافت
        </div>
    }
    <div class="form-horizontal">
        <section>
            <div class="container internal-style py-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">محصولات</a></li>
                    <li class="breadcrumb-item active" aria-current="page">چاپ و تکثیر شهر چاپ</li>
                </ol>
                <div class="contact-layer">
                    <div class="row">
                        @Html.Partial("UserPanelMenu")

                        <section class="col-md-8 col-sm-12 col-xs-12">
                            <form class="form-layer-style" action="">
                                <header>
                                    <h1>تغییر کلمه عبور</h1>
                                </header>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-layer">
                                            <label>
                                                <i class="fas fa-key"></i>
                                                @Html.LabelFor(Model => Model.OldPassword)
                                            </label>
                                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="input-layer">
                                            <label>
                                                <i class="fas fa-lock"></i>
                                                @Html.LabelFor(Model => Model.Password)
                                            </label>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="input-layer">
                                            <label>
                                                <i class="fas fa-lock"></i>
                                                @Html.LabelFor(Model => Model.ConfirmPassword)
                                            </label>
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 pull-left mt-2">
                                    <input type="submit" value="ذخیره" class="button-st green pull-left" />
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
}


