@model IEnumerable<DataLayer.Factors>

@{
    ViewBag.Title = "فاکتور ها";
}

<h2>فاکتور ها</h2>

<table class="table">
    <tr>
        <th>
            کاربر
        </th>
        <th>
            محصولات
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            وضعیت
        </th>
        <th>
            تاریخ خرید
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ref)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                <ul>

                    @foreach (var products in item.Factor_Details)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => products.Products.Title)
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @if (item.IsFinally == true)
                {
                    <span class="label label-success">پرداخت شده</span>
                }
                else
                {
                    <span class="label label-warning">در انتظار پرداخت</span>
                }
            </td>
            <td>
                @item.Date.ToString("dddd, dd MMMM yyyy")
            </td>
            <td>
                @item.Ref
            </td>
            <td>
                @if (item.AddressID != null && item.IsFinally == true)
                {
                    <a class="btn btn-info btn-sm" href="@Url.Action("UserAddress" , new { id = item.AddressID })">
                        آدرس کاربر
                    </a>

                }
                <a class="btn btn-warning btn-sm" href="@Url.Action("FactorDetail" , new { id = item.FactorID })">
                    ریز فاکتور
                </a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.DetailID }) |
        @Html.ActionLink("Details", "Details", new { id = item.DetailID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.DetailID })*@
            </td>
        </tr>
    }

</table>

