@model IEnumerable<DataLayer.Order_Details>

@{
    ViewBag.Title = "سفارش چاپ";
}

<h2>سفارش چاپ</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDesigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsDone == true)
        {
            
        }
            <tr class=@((item.IsDone == true ? "text-decoration-line-through" : ""))>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Title)
                </td>
                @if (item.IsDesigned == false)
                {
                    <td>
                        <span class="label label-danger">طرح آماده ندارد</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="label label-success">طرح آماده دارد</span>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialNumber)
                </td>
                <td>
                    @item.OrderDate.ToString("dddd, dd MMMM yyyy")
                </td>
                <td>
                    @if (item.IsDone == false)
                    {
                        <a class="btn btn-success" href="@Url.Action("Done", new { orderId = item.OT_ID })">
                            طراحی شد
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-danger" href="@Url.Action("Done", new { orderId = item.OT_ID })">
                            طراحی نشده
                        </a>
                    } |
                    <a class="btn btn-info btn-sm" href="@Url.Action("OrderDetail" , new { id = item.OT_ID })">
                        جزئیات سفارش
                    </a>
                </td>
            </tr>
        }

    </table>
