@model DataLayer.Users

@{
    ViewBag.Title = "حذف کاربر";
}

<h2>حذف کاربر</h2>

<h3>آیا از حذف @Model.UserName مطمئن هستید؟</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.RoleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.RoleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmailActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmailActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPhoneActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPhoneActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
