@model ViewModels.RecoveryPasswordViewModel

@{
    ViewBag.Title = "بازیابی کلمه عبور";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal internal-style">
    <div class="register-page">
        <ol class="breadcrumb my-5">
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
            <li class="breadcrumb-item"><a href="#">محصولات</a></li>
            <li class="breadcrumb-item active" aria-current="page">چاپ و تکثیر شهر چاپ</li>
        </ol>
        <div class="register-form">
            <div class="register-title text-center pb-2">
                <h2 class="">بازیابی کلمه عبور</h2>
                <img src="/Content/img/Forgot Password.png" class="img-fluid" alt="">
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="input-element">
                    <i class="fas fa-unlock-alt"></i>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "کلمه عبور", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="input-element">
                    <i class="fas fa-unlock-alt"></i>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @placeholder = "تکرار کلمه عبور", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>


            @*Html.HiddenFor(model => model.GoogleCaptchaToken)*@

            <div class="form-group">
                <div class="pt-2">
                    <input type="submit" class="register-btn" value="ثبت نام" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
            </div>
        </div>
    </div>
</div>
}

